@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: normal;
	src: url('fonts/Lato-regular/Lato-regular.eot');
	src: url('fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
	local('Lato Regular'),
	local('Lato-regular'),
	url('fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
	url('fonts/Lato-regular/Lato-regular.woff') format('woff'),
	url('fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
	url('fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	font-style: normal;
	src: url('fonts/Lato-700/Lato-700.eot');
	src: url('fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
	local('Lato Bold'),
	local('Lato-700'),
	url('fonts/Lato-700/Lato-700.woff2') format('woff2'),
	url('fonts/Lato-700/Lato-700.woff') format('woff'),
	url('fonts/Lato-700/Lato-700.ttf') format('truetype'),
	url('fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

body { 
	font-family: 'Lato', sans-serif;
	color: #666;
}

#header {
	display: block;
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	height:20px;
}

#wrap {
	display: block;
	position: absolute;
	top: 20px;
	right:0px;
	left:0px;
	bottom:0px;
	border-top: 1px solid #ccc;
}

#channels {
	display: block;
	position: absolute;
	width: 175px;
	top:0px;
	bottom:0px;
	left:0px;
	z-index:10;
}

#content {
	display: block;
	position: absolute;
	top:0px;
	left:175px;
	bottom:0px;
	right:0;
}

.users {
	display: block;
	position: absolute;
	width: 150px;
	top:0px;
	right:0px;
	bottom:0px;
}

#channels {
	background: #f8f8f8;
}

.users {
	background: #f0efef;
}

.users, #channels {
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;

}

ul {
	list-style-type: none;
}

#channels > ul {
	margin:0;
	padding:0;
}

.server ul {
	padding-left: 25px;
}

.server span {
	background: #d3d3d3;
	color: #000;
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-weight: 700;
}

.server ul li {
	padding: 5px 0px 5px 0px;
}

#buttons {
	position: absolute;
	display: inline-block;
	top:0;
	right:0;
	height: 20px;
	max-height: 20px;
	width:60px;
	margin-right:3px;
}

#buttons div {
	border-radius: 50%;
	height:15px;
	width:15px;
	margin-top:2px;
	margin-left:3px;
	float:right;
	-webkit-app-region: no-drag;
}

#buttons .close {
	background-color: red;
}

#buttons .minimize {
	background-color: darkgreen;
}

#buttons .maximize {
	background-color: orange;
}

.input-wrap {
	position:absolute;
	display:block;
	left:0px;
	bottom:0px;
	right:150px;
	display: -webkit-flex;
}

textarea {
	font-family: 'Lato';
	font-size:16px;
}

.top-wrap {
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	right:150px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}

.channel-name {
	display: inline-block;
	font-weight: 700;
	padding-left:20px;
}

.topic {
	display: inline-block;
}

textarea.message {
	border-bottom:none;
	border-left:none;
	border-right:none;
	resize:none;
	-webkit-flex: 1;
	clear: both;
	position: relative;
	outline: none;
	padding:5px;
}

.messages {
	position: absolute;
	display: block;
	top: 30px;
	left: 0;
	right: 150px;
	bottom: 30px;
}

.message {
	display: inline-block;
	position: absolute;
	left: 0;
	padding-left: 20px;
}