@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: normal;
	src: url('fonts/Lato-regular/Lato-regular.eot');
	src: url('fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
	local('Lato Regular'),
	local('Lato-regular'),
	url('fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
	url('fonts/Lato-regular/Lato-regular.woff') format('woff'),
	url('fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
	url('fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	font-style: normal;
	src: url('fonts/Lato-700/Lato-700.eot');
	src: url('fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
	local('Lato Bold'),
	local('Lato-700'),
	url('fonts/Lato-700/Lato-700.woff2') format('woff2'),
	url('fonts/Lato-700/Lato-700.woff') format('woff'),
	url('fonts/Lato-700/Lato-700.ttf') format('truetype'),
	url('fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

body { 
	font-family: 'Lato', sans-serif;
	color: #666;
	margin: 0;
  padding: 0;
}

html, body, .main {
    height: 100%;
}

#wrap {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 21px);
}

#wrap > #channels {
  width: 200px;
  height: 100%;
  position: relative;
}

#wrap #content {
	width: 75%;
	height: 100%;
}

.channel-wrap, .server-wrap {
	height:100%;
}

.left-content, .right-content {
	height: 100%;
}

.right-content {
	width: 200px;
}

.left-content {
	width:100%;
	position:relative;
}


#header {
	display: block;
	width: 100%;
	height:20px;
}

#wrap {
	border-top: 1px solid #ccc;
}

#channels {
	z-index:10;
	width: 200px;
}

#content {
	display: block;
	flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.users {
	display: block;
	overflow-y:auto;
	overflow-x:hidden;
	height: 100%;
	background: #f0efef;
}

#channels {
	background: #f8f8f8;
	-webkit-user-select:none;
}

.users, #channels {
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
}

.server-wrap, .channel-wrap {
	display: -webkit-flex;
}

ul {
	list-style-type: none;
}

#channels > ul {
	margin:0;
	padding:0;
}

.server ul {
	padding-left: 25px;
}

.server .server-title {
	background: #d3d3d3;
	color: #000;
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	font-weight: 700;
	cursor:pointer;
}

.server ul li {
	padding: 5px 0px 5px 0px;
	cursor:pointer;
}

#buttons {
	position: absolute;
	display: inline-block;
	top:0;
	right:0;
	height: 20px;
	max-height: 20px;
	width:60px;
	margin-right:3px;
}

#buttons div, .round-button {
	border-radius: 50%;
	height:15px;
	width:15px;
	margin-top:2px;
	margin-left:3px;
	float:right;
	-webkit-app-region: no-drag;
	cursor:pointer;
}

#buttons .close {
	background-color: red;
}

#buttons .minimize {
	background-color: orange;
}

#buttons .maximize {
	background-color: darkgreen;
}

.offline {
	background-color: red;
}

.connecting {
	background-color: orange;
}

.online {
	background-color: green;
}

.input-wrap {
	display:block;
	display: -webkit-flex;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	  position: absolute;
  bottom: 0;
  width: 100%;
}


.top-wrap {
	display:block;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.channel-name {
	font-weight: 700;
	padding-left:10px;
}

input.message-input {
	border: none;
	resize:none;
	-webkit-flex: 1;
	clear: both;
	position: relative;
	outline: none;
	padding:5px;
	height:50px;
	box-shadow:none;
	font-size:1em;
	box-sizing: border-box;
}

.messages {
	display: block;
	overflow-x:hidden;
	overflow-y: auto;
  height: calc(100% - 83px);
}

.message {
	display: block;
	padding-left: 20px;
	padding-right:20px;
	position: relative;
	word-wrap: break-word;
	margin: 3px 0px 0 0;
}

.author {
	font-weight: 700;
}

.rank.operator {
	color: green;
}

.rank.voiced {
	color: orange;
}

.users ul {
	padding-left:5px;
	margin-top:0px;
}

.users .user {
	margin: 3px 0 0 0;
}


.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
	width: 9px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #CBCBCB;
}

.timestamp {
	color: darkseagreen;
}

.separator {
	color:darkmagenta;
}

.popup {
	min-width: 30em;
	min-height: 10em;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.popup h1 {
	margin: 0 0 10px 0;
}

input {
	padding: 5px;
	border-radius: 4px;
	box-shadow: none;
	border-style: groove;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

input[type="checkbox"] {
	vertical-align: middle;
}

label {
	vertical-align: middle;
}

.inputs {
	display:block;
}

.inputs .sub-input {
	display:block;
	margin: 30px;
	margin: 10px 30px;
}

.inputs input:nth-child(2) {
	float:right;
	margin-left:5px;
}

.inputs input[name="title"], .inputs input[name="channels"], .inputs input[name="onConnect"] {
	width:475px;
}

.buttons {
	float:right;
}

.popup button {
	box-shadow: none;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	font-weight: 700;
}

.popup button.close {
	background-color:red;
}

.popup button.save {
	background-color:darkgreen;
}

.popup button.delete {
	background-color:orange;
}


.popup, .popup_wrapper, .popup_background {
	transition: all 0.3s;
}

.manage {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 25px;
	font-weight: 700;
	background-color: #ccc;
	position:absolute;
	bottom:0;
	width:100%;
}

.manage span {
	-webkit-transition: all .2s ease-in-out;
	cursor:pointer;
	padding-left:5px;
}

.manage span:hover {
	-webkit-transform: scale(1.1);
}

.tabs {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.tabs .tab {
	background-color: #ccc;
	padding: 5px;
	height: 30px;
	line-height: 30px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	width: 120px;
	cursor: pointer;
}

.tab.active {
	color: cornflowerblue;
}

#settings_popup .sub-input {
	display:none;	
}

#settings_popup .sub-input.active {
	display:block;
}

.full-input {
	width: 100%;
}