<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chatter</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div class="main">
		<div id="header" style="-webkit-app-region: drag">
			<div id='buttons'>
				<div title='Close' class='close'></div>
				<div title='Maximize' class='maximize'></div>
				<div title='Minimize' class='minimize'></div>
			</div>
		</div>
		<div id="wrap">
			<div id="channels">
				<ul></ul>
				<div class='manage'>
					<span class='add-server'>+</span>
				</div>
			</div>
			<div id="content"></div>
		</div>
	</div>

	<script type="text/template" id='server-edit-template'>
		<h1>Editing Server (<%= title %>)</h1>
		<div class='inputs'>
			<div class='sub-input'>
				<input name="title" placeholder="Server Name" value="<%= title %>">
			</div>
			<div class='sub-input'>
				<input name="host" placeholder="IP Address/Domain" value="<%= host %>">
				<input name="port" placeholder="Server Port" value="<%= port %>">
			</div>
			<div class='sub-input'>
				<input name="nick" placeholder="Nickname" value="<%= nick %>">
				<input name="real_name" placeholder="Real Name" value="<%= real_name %>">
			</div>
			<div class='sub-input'>
				<input name="server_user" placeholder="Username" value="<%= server_user %>">
				<input name="server_pass" placeholder="Password" value="<%= server_pass %>">
			</div>
			<div class='sub-input'>
				<input name="channels" placeholder="Channels (Comma separated list)" value="<%= channels %>">
			</div>
		</div>
		<div class='buttons'>
			<button class="server_delete delete">Delete</button>
			<button class="server_save save">Save</button>
			<button class="server_popup_close close">Close</button>
		</div>
	</script>

	<script type="text/template" id='settings-template'>
		<h1>Chatter Settings</h1>
		<div class='inputs'>
			<div class="tabs">
				<div class="tab active">Notifications</div>
				<div class="tab">Channels</div>
				<div class="tab">Client</div>
			</div>
			<div class='sub-input active' id="settings-notifications">
				<input name="notifications.onMessage" type="checkbox" <% if (notifications.onMessage) { %> checked <% } %>><label>Notification on Message</label>
				<br>
				<input name="notifications.onPM" type="checkbox" <% if (notifications.onPM) { %> checked <% } %>><label>Notification on PM</label>
				<br>
				<input name="notifications.onNotice" type="checkbox" <% if (notifications.onNotice) { %> checked <% } %>><label>Notification on PM</label>
				<br>
				<input name="notifications.sound" type="checkbox" <% if (notifications.sound) { %> checked <% } %>><label>Sound on Notification</label>
				<br>
			</div>
			<div class='sub-input' id="settings-channels">
				<input name="channels.hideJoinPart" type="checkbox" <% if (channels.hideJoinPart) { %> checked <% } %>><label>Hide Join and Part Messages</label>
				<br>
				<label>Quit Message</label><br>
				<input class="full-input" name="channels.quitMessage" placeholder="Quit Message" value="<%= channels.quitMessage %>">
				<br>
				<label>Part Message</label><br>
				<input class='full-input' name="channels.partMessage" placeholder="Part Message" value="<%= channels.partMessage %>">
				<br>
			</div>
			<div class='sub-input' id="settings-client">
				<input name="window.minimizeToTray" type="checkbox" <% if (window.minimizeToTray) { %> checked <% } %>><label>Minimize to Tray</label>
				<br>
			</div>
		</div>
		<div class='buttons'>
			<button class="server_save save">Save</button>
			<button class="server_popup_close close">Close</button>
		</div>
	</script>

	<script type='text/template' id='channel-template'>
		<div class='left-content'>
		<div class='top-wrap'>
			<span class='channel-name'><%= name %>: </span>
			<span class='topic' title='<%= topic %>'><%= topic %></span>
		</div>
		<div class='messages scroll'></div>
		<div class='input-wrap'>
			<input class='message-input'></input>
		</div>
		</div>
		<% if (!pm) { %>
		<div class='right-content'>
			<div class='users scroll'><ul></ul></div>
		</div>
		<% } %>
		</script>

		<script type='text/template' id='server-template'>
			<div class="left-content">
			<div class='top-wrap'>
				<span class='channel-name'><%= title %></span>
				<span class='topic'>(<%= host %>:<%= port %>)</span>
			</div>
			<div class='messages scroll'></div>
			<div class='input-wrap'>
				<input class='message-input'></input>
			</div>
			</div>
		</script>
		<link href='dist/css/app.css' rel='stylesheet' />
		<!-- build:[src] /source.min.js -->
		<script src="vendor/components/requirejs/require.js" data-main="app/config"></script>
		<!-- /build -->
	</body>
	</html>